block:
  description: Blocks the entity, preventing light profiles to be turned on.
  fields:
    entity_id:
      description: The id of the Automatic Lighting switch.
      example: switch.automatic_lighting_test
      required: true
      selector:
        entity:
          domain: switch
          integation: automatic_lighting
    duration:
      description: The duration the entity should be blocked. If unset, the entity will be blocked for the default block duration.
      required: false
      selector:
        number:
          mode: box
          min: 1
          max: 1000000
          unit_of_measurement: s

track_lights:
  description: Add lights to the the group of tracked lights that will apply the blocked state, when manual control is detected.
  fields:
    entity_id:
      description: The id of the Automatic Lighting switch.
      example: switch.automatic_lighting_test
      required: true
      selector:
        entity:
          domain: switch
          integation: automatic_lighting
    lights:
      description: The lights that should be tracked.
      example: [light.test_1, light.test_2]
      required: true
      selector:
        target:
          entity:
            domain: light

turn_off:
  description: Turns off the currently running profile.
  fields:
    entity_id:
      description: The id of the Automatic Lighting switch.
      example: [light.test_1, light.test_2]
      required: true
      selector:
        entity:
          domain: switch
          integation: automatic_lighting

turn_on:
  description: Turns on a profile with the applied settings.
  fields:
    entity_id:
      description: The id of the Automatic Lighting switch.
      example: switch.automatic_lighting_test
      required: true
      selector:
        entity:
          domain: switch
          integation: automatic_lighting
    id:
      description: The unique id of the profile.
      example: 251n161io
      required: true
      selector:
        text:
    status:
      description: The status that the Automatic Lighting should go into (active or idle).
      example: active
      required: true
      default: active
      selector:
        select:
          options:
            - active
            - idle
    lights:
      description: The lights that should be turned on.
      example: [light.test_1, light.test_2]
      required: true
      selector:
        target:
          entity:
            domain: light
    brightness:
      description: The brightness of the lights.
      example: 155
      required: false
      default: 100
      selector:
        number:
          mode: slider
          min: 1
          max: 255
          step: 1
    brightness_pct:
      description: The brightness of the lights (in %).
      example: 50
      required: false
      default: 50
      selector:
        number:
          mode: slider
          min: 1
          max: 100
          step: 1
          unit_of_measurement: "%"
    kelvin:
      description: The color temperature (in kelvin) of the lights.
      example: 3000
      required: false
      default: 3000
      selector:
        number:
          mode: slider
          min: 2200
          max: 6700
          step: 10
          unit_of_measurement: K
    rgb_color:
      description: The RGB color of the lights.
      example: "[100, 100, 100]"
      required: false